:root {
    --background: #1B2221;
}
* {
    box-sizing: border-box;
}
a {
    all: unset;
}
body {
    display: flex;
    justify-content: center;
}
.sectionPadding {
    padding: 0 20px;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    gap: 80px;
}
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: max-content;
    padding: 20px 20px;
    color: white;
    background-color: var(--background);

    z-index: 1000;
}
.header__first {
    display: flex;
    gap: 60px;
    align-items: center;
}
.header__second {
    display: flex;
    gap: 20px;
    align-items: center;
}
.header__second--phone, .header__second--language {
    display: flex;
    gap: 5px;
    align-items: center;
}
.logo {
    max-width: 140px;
}
.title1 {
    font-size: 32px;
    font-weight: 600;
}
.title2 {
    font-size: 24px;
    font-weight: 500;
}
.miniText {
    font-size: 16px;
    font-weight: 400;
}
.description {
    font-size: 18px;
    font-weight: 400;
}
.cursorPointer {
    cursor: pointer;
}
.main {
    height: 100vh;
    background-color: var(--background);
    display: flex;
    gap: 20px;
}
.main__image {
    width: 50%;
}
.main__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /**/
    gap: 50px;
}
.main__text > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    color: white;
    padding: 20px;
}



/* Section 2 */
.objects__title {
    display: flex;
    justify-content: space-between;
}
.objects__title > div {
    display: flex;
}
.objects__title--minitext {
    width: max-content;
}
.line {
    width: 150px;
    height: 2px;
    background-color: var(--background);
}
.objects__table {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.table__item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.miniText--width {
    display: flex;
    align-items: center;
    white-space: nowrap;
}



/* Section 3 */
.banner__section {
    position: relative;
    background-image: url("resources/back.svg");
    width: 100%;
    height: 480px;
}
.banner__logo {
    position: absolute;
    top: 20px;
    left: 20px;
}
.banner__title {
    max-width: 350px;
    color: white;
    position: absolute;
    top: 50%;
    left: 20px;
}



/* Section 4 */
.feedback__table {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
.table__info--image > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.table__info--block {
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.table__info--block > img{
    margin-top: -70px;
}
.table__feedback {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.feedback__element {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: solid 1px lightgray;
}
.feedback__element > img {
    rotate: 90deg;
}
.feedback__element > div > img {
    width: 60px;
    height: 60px;
}
.feedback__user {
    display: flex;
    align-items: center;
    gap: 20px;
}
.feedback__user--name {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.feedback__user--rating {
    display: flex;
    gap: 4px;
}


/* Footer */
.footer {
    width: 100%;
    height: 80px;
    background-color: var(--background);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
form {
    display: flex;
    gap: 20px;
}
.form__element {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.form__element > label {
    color: white;
}
.border > input {
    width: 100%;
    max-width: 300px;
    min-height: 48px;
    background: none;
    border: solid 1px white;
    padding: 0 20px;
}
.submit__button {
    width: 100px;
    height: 48px;
    background: none;
    border: solid 1px white;
    color: white;
}
.button {
    border: solid 1px white;
    height: fit-content;
    align-self: end;
    position: relative;
    display: flex;
    align-items: end;
}
.button > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    color: white;
}
input:hover {
    background-color: white;
    border: solid 1px white;
    opacity: 20%;
    cursor: pointer;
}
.border {
    border: solid 1px white;
}
.lineNew {
    width: 100px;
    height: 2px;
    background-color: white;
}

.mobile__menu {
    display: none;
    padding: 20px;
    border: solid 1px white;
    background-color: var(--background);
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    color: white;
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 5000;
    text-align: center;
}
.mobile__button {
    display: none;
}
.displayChange {
    display: flex;
}
.imageChange {
    background-image: url("resources/close.svg");
}

.underline:hover {
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .feedback__table {
        flex-direction: column;
    }
    .table__feedback {
        width: 100%;
    }
    .main__image {
        display: none;
    }
    .main__text {
        width: 100%;
        align-items: center;
    }
    .main__text > div {
        text-align: center;
        max-width: 700px;
    }
    .consult {
        text-align: left;
    }
    .main {
        min-height: 100vh;
        height: 100%;
    }
    .container{
        padding-top: 65px;
    }
}
@media (max-width: 700px) {
    .objects__table {
        grid-template-columns: auto auto;
    }
    .header__first > .miniText {
        display: none;
    }
    .header__second {
        display: none;
    }
    .miniText--width {
        display: none;
    }
    form {
        flex-direction: column;
    }
    .button {
        align-self: center;
    }

    .mobile__button {
        cursor: pointer;
        display: block;
        width: 25px;
        height: 25px;
        background-image: url("resources/menu.svg");
    }
}
@media (max-width: 500px) {
    .objects__table {
        grid-template-columns: auto;
    }
}

.mascot {
    display: flex;
    gap: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
}
.mascot > img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.rotate-vert-center {
    -webkit-animation: rotate-vert-center 3s linear infinite both;
    animation: rotate-vert-center 3s linear infinite both;
}
.mascot__text {
    display: none;
    padding: 20px;
    background-color: var(--background);
    border: solid 1px white;
    border-radius: 10px 10px 0 10px;
    color: white;
    height: max-content;
}
.mascot:hover .mascot__text{
    display: flex;
}
@-webkit-keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}